spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.show_sql=
spring.jpa.properties.hibernate.format_sql=
spring.jpa.properties.hibernate.use_sql_comments=
jwt.secret.key=
spring.data.mongodb.uri=
spring.data.mongodb.database=
logging.level.org.springframework.data.mongodb.core.MongoTemplate=
management.endpoint.metrics.enabled=
management.endpoint.prometheus.enabled=
management.endpoints.web.exposure.include=
management.metrics.tags.application=
spring.jackson.time-zone=Asia/Seoul