<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"> <!-- 한글이 깨지지 않도록 UTF-8 인코딩 지정 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/391827d54c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Whatsapp Clone</title>
    <style>
        /* 스타일로 iframe 테두리 제거 */
        iframe {
            border: none;
        }
    </style>
</head>
<body>
<div class="background-green"></div>

<!-- 메인 컨테이너 -->
<div class="main-container">
    <!-- 왼쪽 컨테이너 -->
    <div class="left-container">

        <!-- 헤더 -->
        <div class="header">
            <div class="user-img">
                <img class="dp" src="https://www.codewithfaraz.com/InstaPic.png" alt="">
            </div>
            <div class="nav-icons">
                <li><i class="fa-solid fa-users"></i></li>
                <li><i class="fa-solid fa-message"></i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </div>
        </div>

        <!--    &lt;!&ndash; 알림 설정 &ndash;&gt;-->
        <!--    <div class="notif-box">-->
        <!--      <i class="fa-solid fa-bell-slash"></i>-->
        <!--      <div class="notif-text">-->
        <!--        <p>새로운 메시지 알림 받기</p>-->
        <!--        <a href="#">데스크탑 알림 켜기 ›</a>-->
        <!--      </div>-->
        <!--      <i class="fa-solid fa-xmark"></i>-->
        <!--    </div>-->

        <!-- 검색창 -->
        <div class="search-container">
            <div class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="검색 또는 새로운 채팅 시작">
            </div>
            <i class="fa-sharp fa-solid fa-bars-filter"></i>
        </div>

        <!-- 채팅 목록 -->
        <div class="chat-list">
            <!-- 채팅 박스 1 -->
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover"
                         src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                         alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Nowfal</h4>
                        <p class="time unread">11:49</p>
                    </div>
                    <div class="text-message">
                        <p>“어떻게 지내?”</p>
                        <b>1</b>
                    </div>
                </div>
            </div>

            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover"
                         src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                         alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Nowfal</h4>
                        <p class="time unread">11:49</p>
                    </div>
                    <div class="text-message">
                        <p>“어떻게 지내?”</p>
                        <b>1</b>
                    </div>
                </div>
            </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>Nowfal</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div><div class="chat-box">
            <div class="img-box">
                <img class="img-cover"
                     src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg"
                     alt="">
            </div>
            <div class="chat-details">
                <div class="text-head">
                    <h4>스파르타</h4>
                    <p class="time unread">11:49</p>
                </div>
                <div class="text-message">
                    <p>“어떻게 지내?”</p>
                    <b>1</b>
                </div>
            </div>
        </div>
            <!-- 채팅 박스 3 -->
            <!-- 추가적인 채팅 목록은 이하 생략 -->

        </div>
    </div>

    <!-- 오른쪽 컨테이너 -->
    <div class="right-container">
        <!-- chat.html을 오른쪽 컨테이너에 로드하는 iframe 태그 -->
        <iframe th:src="@{/chat}" width="100%" height="100%" scrolling="no"></iframe>
    </div>
</div>

</body>
</html>
