<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Chat</title>
  <link rel="stylesheet" href="/css/chat.css">
  <script src="/js/chat.js"></script>
  <script src="https://kit.fontawesome.com/391827d54c.js" crossorigin="anonymous"></script>


  <!--  <link rel="stylesheet" href="/css/chat.css">-->
</head>
<body>
<div class="main-container">
  <div class="right-container">
  <!--header -->
  <div class="header">
    <div class="img-text">
      <div class="user-img">
        <img class="dp" src="/images/profile.jpg" alt="">
      </div>
      <h4>고양이<br><span>Online</span></h4>
    </div>
    <div class="nav-icons">
      <li><i class="fa-solid fa-magnifying-glass"></i></li>
      <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
    </div>
  </div>
    <!--chat-container -->
    <div class="chat-container">
      <div class="message-box my-message">
        <p>오늘 뭐할까요?<br><span>15:30</span></p>
      </div>
      <div class="message-box friend-message">
        <p>놀러 가는 건 어때요?<br><span>15:32</span></p>
      </div>
      <div class="message-box friend-message">
        <p>카페가 괜찮을까요?<br><span>15:35</span></p>
      </div>
      <div class="message-box my-message">
        <p>그래요, 카페로 갑시다.<br><span>15:36</span></p>
      </div>
      <div class="message-box my-message">
        <p>어떤 음료를 시킬까요?<br><span>15:38</span></p>
      </div>
      <div class="message-box friend-message">
        <p>아메리카노로 하세요.<br><span>15:40</span></p>
      </div>
      <div class="message-box my-message">
        <p>알겠습니다. 얼른 갑시다!<br><span>15:42</span></p>
      </div>
      <div class="message-box friend-message">
        <p>네, 가자고요!<br><span>15:45</span></p>
      </div>
      <div class="message-box friend-message">
        <p>카페 도착했습니다. 어디 앉을까요?<br><span>15:48</span></p>
      </div>
      <div class="message-box my-message">
        <p>어떤 디저트가 좋을까요?<br><span>15:50</span></p>
      </div>
      <div class="message-box friend-message">
        <p>생과일 샐러드가 맛있어요!<br><span>15:52</span></p>
      </div>
      <div class="message-box my-message">
        <p>그럼 생과일 샐러드로 주문할게요!<br><span>15:55</span></p>
      </div>
      <div class="message-box friend-message">
        <p>좋은 선택이에요!<br><span>15:57</span></p>
      </div>
      <div class="message-box my-message">
        <p>감사합니다!<br><span>16:00</span></p>
      </div>
    </div>

    <!--input-bottom -->
    <div class="chatbox-input">
      <i class="fa-regular fa-face-grin"></i>
      <i class="fa-sharp fa-solid fa-paperclip"></i>
      <input type="text" id="chat-input" placeholder="Type a message">
      <i class="fa-solid fa-microphone"></i>
    </div>
  </div>
</div>
</body>
</html>
