<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form id="loginForm">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>
  <button type="button" onclick="submitLoginForm()">Login</button>
</form>

<script>
  function submitLoginForm() {
    var form = document.getElementById("loginForm");
    var formData = {
      email: form.email.value,
      password: form.password.value
    };

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/api/user/login", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          localStorage.setItem('wschat.sender', response.username);
          window.location.href = "/api/test/message/room"
        } else {
          // 로그인 실패 처리
        }
      }
    };

    xhr.send(JSON.stringify(formData));
  }
</script>
</body>
</html>