<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/391827d54c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/test.css">
    <title>Whatsapp Clone</title>
</head>
<body>
<div class="background-green"></div>


<div class="main-container">
    <div class="left-container">

        <!--header -->
        <div class="header">
            <div class="user-img">
                <img class="dp" src="https://www.codewithfaraz.com/InstaPic.png" alt="">
            </div>
            <div class="nav-icons">
                <li><i class="fa-solid fa-users"></i></li>
                <li><i class="fa-solid fa-message">
                </i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </div>
        </div>


        <!--notification -->
        <div class="notif-box">
            <i class="fa-solid fa-bell-slash"></i>
            <div class="notif-text">
                <p>Get Notified of New Messages</p>
                <a href="#">Turn on Desktop Notifications ›</a>
            </div>
            <i class="fa-solid fa-xmark"></i>
        </div>

        <!--search-container -->
        <div class="search-container">
            <div class="input">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search or start new chat   "></div>
            <i class="fa-sharp fa-solid fa-bars-filter"></i>
        </div>


        <!--chats -->
        <div class="chat-list">
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://lh5.googleusercontent.com/-7ssjf_mDE1Q/AAAAAAAAAAI/AAAAAAAAASo/tioYx2oklWEHoo5nAEyCT-KeLxYqE5PuQCLcDEAE/s100-c-k-no-mo/photo.jpg" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Nowfal</h4>
                        <p class="time unread">11:49</p>
                    </div>
                    <div class="text-message">
                        <p>“How are you?”</p>
                        <b>1</b>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Rohan</h4>
                        <p class="time unread">10:49</p>
                    </div>
                    <div class="text-message">
                        <p>“I’ll be there.”</p>
                        <b>4</b>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/8367221/pexels-photo-8367221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Zoya</h4>
                        <p class="time unread">09:49</p>
                    </div>
                    <div class="text-message">
                        <p>“Make somebody’s day.”</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Ava</h4>
                        <p class="time">08:49</p>
                    </div>
                    <div class="text-message">
                        <p>“Dreams come true.”</p>
                    </div>
                </div>
            </div>
            <div class="chat-box active">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/2474307/pexels-photo-2474307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Leo</h4>
                        <p class="time">07:49</p>
                    </div>
                    <div class="text-message">
                        <p>Awesome! I'll start a vid..</p>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/3564412/pexels-photo-3564412.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Azariah</h4>
                        <p class="time">06:49</p>
                    </div>
                    <div class="text-message">
                        <p>“Love, light, laughter.”</p>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/2919367/pexels-photo-2919367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Oliver</h4>
                        <p class="time unread">Yesterday</p>
                    </div>
                    <div class="text-message">
                        <p>“Appreciate the mome..”</p>
                        <b>2</b>
                    </div>
                </div>
            </div>
            <div class="chat-box">
                <div class="img-box">
                    <img class="img-cover" src="https://images.pexels.com/photos/14526673/pexels-photo-14526673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="chat-details">
                    <div class="text-head">
                        <h4>Jeslin</h4>
                        <p class="time">Yesterday</p>
                    </div>
                    <div class="text-message">
                        <p>“Now or never.”</p>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div class="right-container">
        <!--header -->
        <div class="header">
            <div class="img-text">
                <div class="user-img">
                    <img class="dp" src="https://images.pexels.com/photos/2474307/pexels-photo-2474307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <h4>Leo<br><span>Online</span></h4>
            </div>
            <div class="nav-icons">
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </div>
        </div>

        <div class="chat-container">
            <div class="message-box my-message">
                <p>오늘 뭐할까요?<br><span>15:30</span></p>
            </div>
            <div class="message-box friend-message">
                <p>놀러 가는 건 어때요?<br><span>15:32</span></p>
            </div>
            <div class="message-box friend-message">
                <p>카페가 괜찮을까요?<br><span>15:35</span></p>
            </div>
            <div class="message-box my-message">
                <p>그래요, 카페로 갑시다.<br><span>15:36</span></p>
            </div>
            <div class="message-box my-message">
                <p>어떤 음료를 시킬까요?<br><span>15:38</span></p>
            </div>
            <div class="message-box friend-message">
                <p>아메리카노로 하세요.<br><span>15:40</span></p>
            </div>
            <div class="message-box my-message">
                <p>알겠습니다. 얼른 갑시다!<br><span>15:42</span></p>
            </div>
            <div class="message-box friend-message">
                <p>네, 가자고요!<br><span>15:45</span></p>
            </div>
            <div class="message-box friend-message">
                <p>카페 도착했습니다. 어디 앉을까요?<br><span>15:48</span></p>
            </div>
            <div class="message-box my-message">
                <p>어떤 디저트가 좋을까요?<br><span>15:50</span></p>
            </div>
            <div class="message-box friend-message">
                <p>생과일 샐러드가 맛있어요!<br><span>15:52</span></p>
            </div>
            <div class="message-box my-message">
                <p>그럼 생과일 샐러드로 주문할게요!<br><span>15:55</span></p>
            </div>
            <div class="message-box friend-message">
                <p>좋은 선택이에요!<br><span>15:57</span></p>
            </div>
            <div class="message-box my-message">
                <p>감사합니다!<br><span>16:00</span></p>
            </div>
        </div>

        <!--input-bottom -->
        <div class="chatbox-input">
            <i class="fa-regular fa-face-grin"></i>
            <i class="fa-sharp fa-solid fa-paperclip"></i>
            <input type="text" placeholder="Type a message">
            <i class="fa-solid fa-microphone"></i>
        </div>
    </div>

</div>
</body>
</html>